{% extends 'base.html' %}

{% block title %}Write{% endblock %}

{% block content %}

    <!--{% if user.is_authenticated %}  -->
  
    <form action='board/save/' class="needs-validation post-form" novalidate method="POST">
        <div class="form-group">
            <label for="title">글 제목</label>
            <input type="text" class="form-control" id="title" placeholder="글제목을 입력하세요">
        </div>
        <div class="form-group">
            <label for="detail">글 내용</label>
            <textarea class="form-control col-sm-5" rows="5"></textarea>
        </div>
        <br><br>
        <div class="form-group">
            <label for="InputFile">파일 업로드</label>
            <input type="file" id="InputFile">
            <p class="help-block">여기에 블록레벨 도움말 예제</p>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> 입력을 기억합니다
            </label>
        </div>
        <button type="submit" class="btn btn-default">작성</button>
    </form> 
   
   
    <!--
    {% else %}
        <meta http-equiv="refresh" content="0; url=/accounts/login"></meta>
    {% endif %}
    -->
{% endblock %}