{% extends 'base.html' %}

{% block title %}stock{% endblock %}

{% block head %}
   
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-8 panel panel-default">
                <div class="alert alert-info">
                    종목입력: 
                </div>
                <form action="" method="post">
                    {{form.as_p}}
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="입력">
                </form>
            </div>
        </div>
        
    {% else %}
        <meta http-equiv="refresh" content="0; url=/accounts/login"></meta>
    {% endif %}

{% endblock %}